* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hero{
    height: 390px;
    width: 340px;
    
}
.email{
    height: 65px;
    width: 240px;

}
.bg1-clr{ 
    background-color: #ebeee7;

}
.bg-clr{
    background-color: #386249;
}
.bg2-clr{
    background-color: #132239;

}
.bg3-clr{
    background-color: #e9f1fc;
}